.dash-page {
    .logo-login {
        width:3rem;
    }
    .content-header {
        i.fas, i.far {
            opacity: 0.2;
        }
    }
    .card-footer {
        padding-top:1rem;
        padding-bottom:1.2rem;
    }
}