@import 'login';
@import 'dash';


.bf {
    font-family: 'Source Sans Pro';
}
.bc {
    color: #4438a1 !important;
    &:hover {
        color: #4438a1 !important;
    }
}
.btn-primary {
    background-color: #4438a1;
    &:hover {
        background-color: #584f9b;
    }
}
.main-footer {
    padding-top: 4px;
    padding-bottom: 4px;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #4438a1;
}

.bg-success.bg-beamble {
    background-color: #4438a1 !important;
}
.info-box .info-box-number {
    font-size:2rem;
    small {
        font-size:0.7rem;
    }
} 
.beamble-icon {
    width:45px;
}
.beamble-row {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    width:100%;
    > div {
        width: 32%;
    }
}
